.aside {
  position: fixed;
  left: 0;
  top: 0;
  background: var(--body-color);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  padding: 2.5rem;
  width: 110px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.nav__logo {
  font-weight: var(--font-bold);
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.nav__link {
  font-size: 1.2rem;
  color: var(--title-color);
  font-weight: var(--font-bold);
  transition: 0.3s;
}

.nav__link:hover {
  color: hsl(43, 100%, 68%);
}

.copyright {
  color: hsl(245, 15%, 65%);
  font-size: var(--small-font-size);
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
}

.nav__toogle {
  position: fixed;
  top: 1.25rem;
  left: 1.875rem;
  cursor: pointer;
  height: 40px;
  width: 45px;
  background-color: var(--body-color);
  border: 1px solid #e8dfec;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: .3s;
}

/* scroll-up */
.scroll-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: #ddd;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.4s ease;
  border: 5px solid transparent;
  background-clip: padding-box;
  z-index: 10001;
}

.scroll-up.active {
  opacity: 1;
  transform: translateY(0);
}

.scroll-up a {
  position: absolute;
  z-index: 10px;
  color: var(--color-primary);
  border-radius: 50%;
  background-color: #fff;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* end styles of scroll-up */

@media screen and (max-width: 1024px) {
  .aside {
    left: -110px;
  }

  .nav__toogle {
    display: flex;
  }

  .nav__toogle-open {
    left: 140px;
  }

  .show-menu {
    left: 0;
  }
}
